<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: groups</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: red;
        }

        .M\(0\) {
            margin: 0;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }
    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="groups" type="java.util.List<kamil.tuchalski.udemy.todoapp.model.projection.GroupReadModel>"*/-->
    <dl th:each="group : ${groups}" class="Bd P(10px)">
        <dt>
            <label>
                <input type="checkbox" />
                <span th:text="${group.description}"></span>
                <small th:text="|(${group.deadline})|"></small>
            </label>
            <hr class="M(0)" />
        </dt>
        <dd>
            <a th:href="@{/tasks.html(group=${group.id})}">
                <ul class="P(0)">
                    <li th:each="task : ${group.tasks}">
                        <span th:unless="${task.done}" th:text="${task.description}"></span>
                        <del th:if="${task.done}" th:text="${task.description}"></del>
                    </li>
                </ul>
            </a>
        </dd>
    </dl>
    <fieldset>
        <legend>Nowa grupa</legend>
        <!--/*@thymesVar id="group" type="kamil.tuchalski.udemy.todoapp.model.projection.GroupWriteModel"*/-->
        <form action="#" method="post" th:action="@{/groups}" th:object="${group}">
            <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Opis
                <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'" />
            </label>
            <fieldset th:each="task,taskStat : *{tasks}">
                <legend th:text="|Zadanie ${taskStat.index + 1}|"></legend>
                <label>Opis
                    <input type="text" th:field="*{tasks[__${taskStat.index}__].description}"
                           th:errorclass="'Bdc(red)'" />
                </label>
                <label>Deadline
                    <input type="datetime-local" th:field="*{tasks[__${taskStat.index}__].deadline}"
                           th:errorclass="'Bdc(red)'" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" />
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addTask">+</button>
            </div>
            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Wyczyść</button>
            </p>
        </form>
    </fieldset>
</main>
</body>
</html>
